/*font importati*/
@font-face {
  font-family: 'Suisse_Light';
  src: url(../assets/fonts/SuisseIntl-Light.otf) format("opentype");
}

@font-face {
  font-family: 'Suisse_Works';
  src: url(../assets/fonts/SuisseWorks-Regular.otf) format("opentype");
}

/*impostazioni generali*/
html {
  position: relative;
  width: 100vw;
  height: 100vh;
}

body {
  position: relative;
  height: 100vh;
  overflow-x: hidden;
  background-color: black;
}

/*navbar*/
.navbar-brand {
  font-family: 'Suisse_Works';
}

.nav-item {
  font-family: 'Suisse_Light';
}

.bg-body-tertiary {
  --bs-bg-opacity: 1;
  background-color: #1a1a1a !important;
}

/*elementi testuali*/
h1 {
  font-family: 'Suisse_Works';
  font-size: clamp(4rem, 7vw, 8rem);
  text-align: start;
  line-height: 100%;
}

h2 {
  font-family: 'Suisse_Light';
  font-size: clamp(2.5rem, 4vw, 3rem);
}

h3 {
  font-family: 'Suisse_Light';
  font-weight: bold;
  font-size: clamp(1.5rem, 1.5vw, 2rem);
}

.description,
.footer-description {
  font-family: 'Suisse_Light';
  font-size: 1.25rem;
}

.text-extrabig {
  font-family: 'Suisse_Works';
  font-size: clamp(1.5rem, 2vw, 4rem);
  text-align: start;
  color: #999999;
}

.card_title {
  font-family: 'Suisse_Light';
  font-size: 1.3rem;
  color: #999999;
}

li {
  list-style-type: none;
  line-height: 1.6;
  text-align: center;
}

.firstTitleContainer {
  justify-content: center;
  position: relative;
  z-index: 1;
  text-shadow: 2px 2px #000000;
}

/*impostazioni multimediali e di pagina*/
.spacing {
  height: 10em;
  background-color: black;
}

video {
  width: 80%;
  max-height: 80%;
}

.model {
  position: absolute;
  height: 100vh;
  width: 100vw;
  transform: translateX(20vw);
  z-index: 0;
}

.videoContainer {
  height: 100vh;
}

.container-fluid {
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

/*modello 3d*/
model-viewer {
  height: 100vh;
  width: 100vw;
  position: relative;
  left: 0;
  border: none;
}

/*img AI*/
.dustImage {
  position: absolute;
  bottom: -30vh;
  width: 100%;
  scale: 1;
}

/*accordion AI*/
.accordion {
  --bs-accordion-color: white;
  --bs-accordion-bg: black;
  --bs-accordion-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  --bs-accordion-border-color: white;
  --bs-accordion-border-width: var(--bs-border-width);
  --bs-accordion-btn-color: white;
  --bs-accordion-btn-bg: var(--bs-accordion-bg);
  --bs-accordion-btn-icon: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e);
  --bs-accordion-btn-icon-width: 1.25rem;
  --bs-accordion-btn-icon-transform: rotate(-180deg);
  --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
  --bs-accordion-btn-active-icon: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23052c65'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e);
  --bs-accordion-body-padding-y: 1rem;
  --bs-accordion-active-color: black;
  --bs-accordion-active-bg: white;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button {
  font-family: 'Suisse_Works';
  font-size: clamp(1.5rem, 2vw, 3rem);
}

.accordion-body {
  color: white;
  background-color: black;
  font-family: 'Suisse_Light';
  font-size: 1.25rem;
}

/*footer*/
.teamNames {
  margin: 0;
  padding-left: 40%;
  line-height: 1.5;
  text-align: start;
  font-size: 1rem;
}

/*animazione gradiente footer*/
.animatedBackground {
  background: linear-gradient(220deg, #211B6B, #6D5CD0, #9B6CC9);
  background-size: 600% 600%;
  -webkit-animation: gradientAnim 20s ease infinite;
  -moz-animation: gradientAnim 20s ease infinite;
  animation: gradientAnim 20s ease infinite;
}

.animatedBackground * {
  color: white !important;
  border-color: white !important;
}

@-webkit-keyframes gradientAnim {
  0% {
    background-position: 0% 69%;
  }

  50% {
    background-position: 100% 32%;
  }

  100% {
    background-position: 0% 69%;
  }
}

@-moz-keyframes gradientAnim {
  0% {
    background-position: 0% 69%;
  }

  50% {
    background-position: 100% 32%;
  }

  100% {
    background-position: 0% 69%;
  }
}

@keyframes gradientAnim {
  0% {
    background-position: 0% 69%;
  }

  50% {
    background-position: 100% 32%;
  }

  100% {
    background-position: 0% 69%;
  }
}

/***********************MOBILE*********************/
@media only screen and (max-width: 576px){
  
  .model {
    position: absolute;
    height: 100vh;
    width: 100vw;
    transform: translateX(0);
    z-index: 0;
  }

  model-viewer {
    height: 50vh;
    width: 100vw;
    position: absolute;
    left: 0;
    bottom: 20vh;
    border: none;
  }

  video {
    width: 100%;
  }

  .videoContainer {
    height: 50vh;
  }

  .spacing {
    height: 5vh;
    background-color: black;
  }

  .firstTitleContainer {
    margin-top: 20vh;
    justify-content: start;
  }

  /*AI.html*/
  .dustImage {
    position: absolute;
    bottom: 30vh;
    width: 100%;
    scale: 1;
  }

  .accordionHeader {
    font-size: normal !important;
  }

  /*footer*/
  .teamNames {
    margin: 0;
    padding-left: 0;
    text-align: center;
    font-size: 1rem;
  }

  .footer-description {
    font-family: 'Suisse_Light';
    text-align: center;
    font-size: 1rem;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

/***********************TABLET*********************/
@media only screen and (min-width: 577px) and (max-width: 992px) {

  .model {
    position: absolute;
    height: 100vh;
    width: 100vw;
    transform: translateX(0);
    z-index: 0;
  }

  model-viewer {
    height: 50vh;
    width: 100vw;
    position: absolute;
    left: 0;
    bottom: 30vh;
    border: none;
  }

  video {
    width: 100%;
  }

  .videoContainer {
    height: 50vh;
  }

  .spacing {
    height: 5vh;
    background-color: black;
  }

  .firstTitleContainer {
    margin-top: 30vh;
    justify-content: start;
  }

  /*AI.html*/
  .dustImage {
    position: absolute;
    bottom: 30vh;
    width: 100%;
    scale: 1;
  }

  .accordionHeader {
    font-size: normal !important;
  }

  /*footer*/
  .teamNames {
    margin: 0;
    padding-left: 0;
    text-align: center;
    font-size: 1rem;
  }

  .footer-description {
    font-family: 'Suisse_Light';
    text-align: center;
    font-size: 1rem;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

#preloader {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#loading-gif {
  height: 700px;
  width: auto;
}