/*font importati*/
@font-face {
  font-family: 'Suisse_Light';
  src: url(assets/fonts/SuisseIntl-Light.otf) format("opentype");
}

@font-face {
  font-family: 'Suisse_Works';
  src: url(assets/fonts/SuisseWorks-Regular.otf) format("opentype");
}

body {
  overflow: hidden;
}

/*navbar*/
.navbar-brand {
  font-family: 'Suisse_Works';
}

.nav-item {
  font-family: 'Suisse_Light';
}

.bg-body-tertiary {
  --bs-bg-opacity: 1;
  background-color: #1a1a1a !important;
}

/*container totale x scroll snap*/
.container_scroll {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

/*container totale x scroll snap*/
section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

/*singole sezioni*/
.one,
.two,
.three,
.four,
.five {
  background-color: black;
  height: 100%;
  padding-top: 10vh;
}

.squareContent {
  max-height: 90vh;
}

/*elementi tipografici*/
h1 {
  font-family: 'Suisse_Works';
  font-size: clamp(3.5rem, 4.5vw, 8rem);
  text-align: start;
  color: white;
  line-height: 100%;
}

.description {
  font-family: 'Suisse_Light';
  font-size: 1.25rem;
  color: white;
}


/***********************MOBILE*********************/
@media only screen and (max-width: 992px) {
  .squareContent {
    min-width: 60vw;
  }

  .bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: #1a1a1a !important;
  }
}